.hand-wrapper {
  padding: 1rem;
  background-color: rgba(199, 154, 154, 0.38);
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  border: rgba(133, 109, 109, 0.38) solid 0.05rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;}

.hand-content-wrapper {
  width: 90%;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

#nameLabel {
  width: 10%;
  display: block;
}
