root {
  width: 100%;
}

.board-wrapper {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.controls-wrapper {
  width: 20%;
}

.board-wrapper > app-board {
  width: 80%;
}

#draw-button {
  width: 100%;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 10px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
