.tile {
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
}

.tile > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile-value {
  margin: 0;
  font-weight: bold;
}

.start-vertical {
  height: 50%;
  border-bottom: 2px solid black;
}

.end-vertical {
  height: 50%;
}

.start-horizontal {
  width: 50%;
  border-right: 2px solid black;
}

.end-horizontal {
  width: 50%;
}
