body {
  background-color: rgba(199, 154, 154, 0.19);
  margin: 0;
  font-family: system-ui;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

@media (min-width: 576px) {
  app-root {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  app-root {
    max-width: 720px;
  }
}
app-root {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}


